1. A survey asks 46 questions. State whether each of the questions provides categorical or quantitative data. (10)
    1. what is your age
    2. are your male or female
    3. when did you enroll in MUST
    4. how long have you been in Macau
    5. who is your idol

2. File gdplst.csv contains the GDP stats for each country. Filter the countries to display only the countries located in Africa. (5) What is the mean GDP of these countries?(5)

In [1]:
import pandas as pd
df = pd.read_csv('gdplist.csv')
df.head(5)

       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                 18,181
1      Albania         Europe                 12,847
2      Algeria         Africa                190,709
3       Angola         Africa                100,948
4    Argentina  South America                447,644

3. File carriers.csv contains the percent of on-time deliveries of a logistics company in the past year and the current year. Which carrier is providing the best service in the current year (reminder: the company with highest percent in current year)? And which carrier is providing the worst service in the current year? Use Python operation for the calculation (10)

In [11]:
df = pd.read_csv('carriers.csv')
df

,Carrier,Previous Year On-time Percentage,Current Year On-time Percentage
0,Blue Box Shipping,0.88,0.95
1,Cheetah LLC,0.89,0.92
2,Granite State Carriers,0.82,0.88
3,Honsin Limited,0.74,0.80
4,Jones Brothers,0.69,0.83
5,Minuteman Company,0.91,0.84
6,Rapid Response,0.79,0.71
7,Smith Logistics,0.84,0.89
8,Super Freight,0.92,0.87

Calculate the change in the percentage of on-time deliveries from the previous to the current year for each carrier. List carriers whose on-time percentage decreased from the previous year to the current year? (10)

4. *Relative Frequency Distribution*. A partial relative frequency distribution is given as follows. What is the relative frequency of class D? (5)  The total sample size is 200. What is the frequency of class D?(5)

| Class | Relative Frequency |
|-------|--------------------|
| A | 0.22 |
| B | 0.18 |
| C | 0.40 |
| D| |

5. File endowments.csv contains the financial assets donated by supporters of universities in U.S. in 2017. Plot the histogram of the endowment amount using 20 bins.(10) What implications can you get from the histogram (e.g., whether the distribution is even or skewed)?  What is the largest endowment and which university holds the asset? (15)

In [2]:
df = pd.read_csv('endowments.csv')
df.head(5)

                           University  Endowment Amount ($ Billions)
0                     Amherst College                            2.2
1                      Boston College                            2.3
2                   Boston University                            2.0
3                    Brown University                            3.2
4  California Institute of Technology                            2.6

6. File patientwaits.csv contains a sample of waiting time of patients at a physician's office. What are the variance and standard deviation of patient wait times for offices with a wait-tracking system? (10) Create a boxplot for patient wait times for offices with and without a wait-tracking system separately. (10) Does the tracking system shorten the waiting time overall? (5)

In [9]:
df = pd.read_csv('patientwaits.csv')
df

   Without Wait-Tracking System  With Wait-Tracking System
0                            24                         31
1                            67                         11
2                            17                         14
3                            20                         18
4                            31                         12
5                            44                         37
6                            12                          9
7                            23                         13
8                            16                         12
9                            37                         15